body {
  color: white;
  background: rgb(247, 67, 124);
  margin: 0px;
  font-family: "Sevillana", Static;
}

header {
  border-bottom: solid 12px rgb(170, 0, 54);
  padding: 10px;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

.chamada {
  background: rgb(0, 0, 0);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 50px;
}


p {
  font-size: 50px;
}

img {
  height: 200px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.categoria-videos img {
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 3px solid rgb(132, 3, 89);
}

.categoria h2 {
  color: rgb(255, 255, 255);
}

